<input class="form-control mr-sm-2" type="search" placeholder="Agent Name" aria-label="Search" [(ngModel)]="searchValue" (input)="search()">

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">SEX</th>
    <th scope="col">ROLE</th>
    <th scope="col">AGE</th>
    <th scope="col" class="text-right">
      <button type="button" class="btn btn-outline-secondary" routerLink="/add">Add Agent</button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <th scope="row">{{item.id}}</th>
    <td>{{item.name}}</td>
    <td>{{item.sex}}</td>
    <td>{{item.role}}</td>
    <td>{{item.age}}</td>
    <td class="text-right">
      <button type="button" class="btn btn-success" (click)="editAgent(item.id)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteAgent(item.id)">Delete</button>
      <button type="button" class="btn btn-info" routerLink="/detail/{{item.id}}" >Detail</button>
    </td>
  </tr>
  </tbody>
</table>












