<form *ngFor="let item of data">
  <div class="form-group">
    <label>Name</label>
    <input #name class="form-control"  placeholder="{{item?.name}} ">
  </div>
  <div class="form-group">
    <label>Type</label>
    <select #type class="form-control">
      <option selected>Choose...</option>
      <option>agent</option>
    </select>
  </div>
  <div class="form-group">
    <label>Sex</label>
    <select #sex class="form-control">
      <option selected>Choose...</option>
      <option>Male</option>
      <option>Famale</option>
    </select>
  </div>
  <div class="form-group">
    <label>Role</label>
    <input #role class="form-control" placeholder="{{item?.role}}">
  </div>
  <div class="form-group">
    <label>Age</label>
    <input #age class="form-control" placeholder="{{item?.age}}">
  </div>
  <button  type="submit" class ="btn btn-primary" (click)="editAgent(name,type,sex,role,age,$event)" routerLink="/agent">Save</button>
</form>

